root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yml,yaml,md,js,jsx,ts,tsx,html,css,scss}]
indent_size = 2

[*.{ps1,psm1,psd1}]
end_of_line = crlf
indent_size = 4

[*.{cs,csx,vb,vbx}]
indent_size = 4

# .NET formatting conventions
[*.{cs,vb}]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_style_namespace_declarations = file_scoped:warning

[*.csproj]
indent_size = 2

[Makefile]
indent_style = tab
